UK_Accident_Project_MasterPrompt.md
/data
.DS_Store
output/accidents_cleaned.csv
output/y_final.csv
output/X_pca.csv
output/X_lda.csv
output/X_final.csv
output/lat_lon.csv
output/feature_selection_and_classification_v1/X_pca.csv
output/feature_selection_and_classification_v1/X_lda.csv
output/feature_selection_and_classification_v1/y_final.csv
output/feature_selection_and_classification_v1/X_final.csv
output/feature_selection_and_classification_v1/lat_lon.csv
__pycache__/predict_server.cpython-313.pyc
__pycache__/export_7_rf_model.cpython-313.pyc
output/7_rf_model.joblib
