UK_Accident_Project_MasterPrompt.md
/data
.DS_Store
output/accidents_cleaned.csv
output/y_final.csv
output/X_pca.csv
output/X_lda.csv
output/X_final.csv
output/lat_lon.csv
output/using_12_inputs_columns/X_pca.csv
output/using_12_inputs_columns/X_lda.csv
output/using_12_inputs_columns/y_final.csv
output/using_12_inputs_columns/X_final.csv
output/using_12_inputs_columns/lat_lon.csv
